body {
    color: #ffffff;
    background-image: url(LL_twitter_bg_1nen.jpg);
    background-size: cover;
    border: 1px solid gray;
    
    text-align: center;
}
        
.jouhou {
    color: hotpink
}
